{
  "version": 6,
  "configurePresets": [
    {
      "name": "LLAMA_FORGE_PROFILE",
      "displayName": "LLAMA_FORGE_NAME",
      "generator": "Ninja",
      "binaryDir": "LLAMA_FORGE_BINARY_DIR",
      "cacheVariables": {
        "CMAKE_BUILD_TYPE": "Release",
        "GGML_NATIVE": "ON"
      }
    }
  ]
}
